$icomoon-font-path: "../icons/fonts" !default;

$icon-linkedin-square: "\f08c";
$icon-twitter: "\f099";
$icon-github: "\f09b";
$icon-instagram: "\f16d";
$icon-behance: "\f1b4";
$icon-medium: "\f23a";

